<h1>Login</h1>
<form method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email">
    <label for="password">Password</label>
    <input type="password" name="password">
    <button>Login</button>
  </div>
</form>