<h1>Corporate Account</h1>
<p>Sign up for a corporate account to add your venues and services to {{site.name}}.  We offer specialized marketing at best rates in the wedding industry!  All listings are free for the first 6 monthes and basic memberships are only $30/month!  Reach thousands of potential customers for less than The Knot or Wedding Wire.</p>
{{> register/_form}}
