<h1>Register Now!</h1>
<p>Register for a personal account now to unlock advanced {{site.name}} features. You can follow venues, save favorites, automatically fill forms, customize the site to your needs and more!</p>
{{> register/_form}}